<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles_portal_home.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Portal del Paciente - Medifed</title>
  </head>

  <body>
    <div class="portal-layout">
      <aside class="sidebar">
        <div class="sidebar-header">
          <img
            src="{{ url_for('static', filename='img/logo_comp_b.svg') }}"
            alt="Logo Medifed"
            class="logo-sidebar"
          />
        </div>
        <nav class="sidebar-nav">
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-house"></i> <span>Inicio</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('turnos') }}"
                ><i class="fa-solid fa-calendar-days"></i>
                <span>Turnos</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('medicos') }}"
                ><i class="fa-solid fa-user-doctor"></i> <span>Médicos</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('estudios') }}"
                ><i class="fa-solid fa-file-medical"></i>
                <span>Estudios</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('contactoPortal') }}"
                ><i class="fa-solid fa-envelope"></i> <span>Contacto</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('miplan') }}"
                ><i class="fa-solid fa-id-card"></i> <span>Mi Plan</span></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Facturación</span></a
              >
            </li>
            <li>
              <a href="{{ url_for('chat') }}"
                ><i class="fa-solid fa-comments"></i> <span>Chatbot</span></a
              >
            </li>
          </ul>
        </nav>
        <div class="sidebar-footer">
          <a href="#"><i class="fa-solid fa-gear"></i> <span>Settings</span></a>
          <a href="{{ url_for('logout') }}" class="logout-button"
            ><i class="fa-solid fa-right-from-bracket"></i>
            <span>Cerrar Sesión</span></a
          >
        </div>
      </aside>

      <div class="main-content">
        <header class="top-header">
          <div class="header-left">
            <i class="fa-solid fa-shield-halved"></i>
            <span>NOMBRE</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="header-right">
            <div class="user-info">
              <span>Juand</span>
              <img
                src="https://placehold.co/40x40/6a44c7/FFFFFF?text=J"
                alt="Avatar de Usuario"
                class="user-avatar"
              />
            </div>
          </div>
        </header>

        <main class="page-content">
          <h1>Bienvenido al Portal</h1>
        </main>
      </div>
    </div>
  </body>
</html>
