<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/styles_portal_home.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar-portal-home">
            <div class="links-home">
            <a href="logout">LOGOUTTTTTTT!!!!!!!</a>
            <a href="/medicos">Medicos</a>
            <a href="/miplan">Mi Plan</a>
            <a href="/turnos">Turnos</a>
            <a href="/contacto_portal">Contacto</a>
            <a href="/chat">chatbot</a>
            </div>
        </nav>
    </header>
</body>

</html>