@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 900px;
    max-width: 90%;
    height: 600px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.image-section {
    flex: 1;
    background-image: url('../static/img/vida.webp'); 
    background-size: cover;
    background-position: center;
}

.form-wrapper {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 150px;
    margin: 0 auto 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #6a44c7;
    color: white;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #53359e;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #6a44c7;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-google {
    background-color: #7953d1;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-google:hover {
    background-color: #6142a8;
}

